
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@100..900&display=swap');


*{
    max-width: 1390px;
    font-family: Big Shoulders Display;
    
}
#banner{
    max-width: 1390px;
    height: 400px;
    display: flex;
    border: 5px;
    position: relative;
}
#linear-color{
    min-width: 280px;
    background: linear-gradient(92deg, #080018 0%, #FF2929 45.93%, #FFB21C 97.73%);
}
#linear-color .logo{
display: flex;
padding: 10px;
}



#noisy-color{
    width: 800px;
    background: url(../assets/banner/noisy-background\ 1.png);
    background-color: black;
    position: relative;
    
}
#bannerImg{
    width: 300px;
    height: 350px;
    position: absolute;
    bottom: 0;
    left: 100px;
    z-index: 20;
}
#topRightButton{
    margin: 10px 10px 300px 500px;
    display: flex;
    gap: 10px;
    width: 200px;
    
    position: absolute;
    right: 10px;
}

#topButton{
    background-image: linear-gradient(to left, #FE532E, #FF319F , #8314EC);
    padding: 15px 30px 30px;
    border-radius: 50px;
    text-align: center;
    margin-top: 5px;
    color: white;
    display: flex;
    position: relative;
}
#topButton img{
    z-index: 1;
    position: absolute;
    left: 5px;
    top:14px
}


/* middle content */
#container{
    display: flex;
}
.middleContent{
    text-align: center;
    margin-left: 100px;
}
.middleContent h1{
    font-size: 30px;
    color: white;
    font-weight: 900;
    text-transform: uppercase;
    margin-top: 100px;
}
.middleContent p{
    font-size: 16px;
    color: white;
    font-weight: 400;
}
/* lowerBg */
#cardContainer{
width: 100%;
display: flex;
gap: 10px;
z-index: 20;
position: absolute;
left: 55px;
bottom: -160px;
}
#cardContainer .card{
    text-align: center;
}

#cardContainer .card h2{
    font-size: 20px;
font-style: normal;
font-weight: 700;
text-transform: uppercase;
color: white;
}
/* #cardContainer .card p{
    padding: 0;
} */

#cardContainer .card img{
width: 180px;
}



#lowerBg{
    width: 800px;
    height: 200px;
    border-radius: 50px;
background: var(--Bg-background, linear-gradient(95deg, #181818 7.27%, #151515 99.21%));
position: absolute;
left: 30px;
bottom: -160px;
}
/* newest realese */
#icon{
    display: flex;
    justify-content: space-between;
    margin-top: 180px;
}
#movie{
    display: flex;
    margin-top: 10px;
    gap: 5px;
    width: 100%;
}
#movie>img{
    width: 138px;
}
#movie img:hover{
    
    scale: 1.1;
    transition: all 0.5s;
}